/* font của web */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
html{
    font-family: 'Fira Sans', sans-serif;
}

/* reset csss */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

/* Đông cứng header */
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
/* Thông báo trên của trang web */
.thongbao{
    height: 40px;
    text-align: center;
    background: #79B4B7;
    color: #fff;
    line-height: 40px;
}
/* logo của web */
.menu-logo{
    height: 120px;
    position: relative;
    background: #7a4d4d;
    background-color: rgba(5, 22, 22, 0.897);
    
}

.menu-logo .logo{
    position: absolute;
    top: 10px;
    left: 80px;
    
}
.menu-logo .logo img{
    height: 100px;
}

/* css cho thanh menu */
.main-menu{
    position: absolute;
    top: 60px;
    left: 200px;
}
ul li{
    float: left;
}
li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin: 0 20px;
    color: rgb(206, 175, 176);
    
}
ul li a:hover{
    color: #79B4B7;
    letter-spacing: 2px;
}
ul li ul{
    padding: 0;
    display: none;
    background: #7a4d4d;
    background-color: rgba(5, 22, 22, 0.897);
}
ul li:hover ul{
    display: block;
}
ul li ul li{
    float: none;
}

/* css tiện tịch nhỏ bên phải */
.tienich{
    position: absolute;
    top: 60px;
    right: 20px;
    
}
.tinich:hover{
    color: #79B4B7;
    letter-spacing: 2px;
}
.tienich i{
    font-size: 20px;
    margin: 0 10px;
    color: #FEFBF3;
}
.tienich i:hover{
    color: #24A19C;
    letter-spacing: 2px;
}
/* css cho banner */
.banner{
    width: 100%;
    margin-top: 30px;
}
.banner img{
    width: 100%
}

.boxcenter{
    width: 100%;
    margin: 0 auto;
    min-height: 1000px;
}
/* css cho product phần chính của web */
.product .heading{
    font-size: 35px;
    color: #79B4B7;
    text-align: center;
    margin: 30px 0;
}

.product .list-product .product-item {
    width: 23%;
    float: left;
    margin: 30px 13px;
    box-shadow: 0 2px #24A19C;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
}

.product .list-product .product-item:hover{
    color: #24A19C;
    letter-spacing: 2px;
} 
.product .list-product .product-item img{
    width: 90%;
    height: auto;
}

/* css footer */
footer{
    border-top: 5px double #24A19C;
    width: 100%;
    position: relative;
    clear: both;
}
footer .footer-item{
    float: left;
    color: #24A19C;
    margin: 20px 0;
}
footer .footer-item img{
    margin-top: 40px;
    height: 100px;
}
footer .footer-item a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    
}
footer .about h3{
    margin: 20px;
}
footer .link h3{
    margin: 10px;
}
footer .content h3{
    margin: 10px;
}
footer .about{
    width: 50%;
}
footer .link{
    width: 40%;
    float: right;
}
footer .content{
    width: 40%;
    float: right;
}
footer .footer-item a:hover{
    color: #24A19C;
    letter-spacing: 2px
}

